parameters:
    level: max
    paths:
        - src
        - tests
        - config
        - public
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
